@font-face{
	font-family: FjallaOne;
	src: url("/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}
@font-face{
	font-family: Signika;
	src: url("/fonts/Signika/Signika-Regular.ttf");
}

body{
	background-color:rgb(240,240,240);
}
h3{
	padding-left: 5px;
}
.updates span{
	padding-left: 10px;
}

.updates p{
	padding-left:5px;
}


div.updates{
	border:2px solid lightgray;
	box-shadow: 1px 1px 1px gray;
	width: 100%;
	margin-top:2px;

}

#title{
	margin-bottom:2px;
	font-family: FjallaOne;
	font-variant: small-caps;
}

h2{
	font-family: FjallaOne;
	font-variant: small-caps;	
}
.green{
	background-color:rgb(59,229,131);
}
.yellow{
	background-color:rgb(232,225,119);
}
.red{
	background-color:rgb(255,118,144);
}