@font-face{
	font-family: FjallaOne;
	src: url("/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}
@font-face{
	font-family: Signika;
	src: url("/fonts/Signika/Signika-Regular.ttf");
}

#divLogado{
	font-size:1.2em;
	display: inline-block;
	padding-bottom: 5px;
}
#check{
	font-size: 1em;
	padding-bottom: 10px;
	display: inline-block;
}

body{
	background-color:rgb(240,240,240);
}
h3{
	padding-left: 5px;
}
.updates span{
	padding-left: 10px;
}

.updates p{
	padding-left:5px;
}


div.updates{
	border:2px solid lightgray;
	box-shadow: 1px 1px 1px gray;
	width: 100%;
	margin-top:2px;

}

#title{
	margin-bottom:2px;
	font-family: FjallaOne;
	font-variant: small-caps;
}

h2{
	font-family: FjallaOne;
	font-variant: small-caps;	
}
.green{
	background-color:rgb(59,229,131);
}
.yellow{
	background-color:rgb(232,225,119);
}
.red{
	background-color:rgb(255,118,144);
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


